:root {
    --primary-color: hwb(191 42% 38%);
    --secondary-color: hsla(280, 30%, 62%, 0.658);
    --text-color: #333;
    --bg-color: #f3f3ee;
    --card-bg: #ffffff;
}

[data-bs-theme="dark"] {
    --text-color: #e0e0e0;
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --secondary-color: #bb86fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Custom Dark Mode Adjustments */
[data-bs-theme="dark"] .card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-color: #444;
}

[data-bs-theme="dark"] .table {
    color: var(--text-color);
    border-color: #444;
}

.hero-section {
    background: linear-gradient(45deg, #67a4ba, #c35959);
    color: white;
    padding: 50px 0;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(176, 144, 83);
    margin-top: 5px;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed var(--secondary-color);
    padding: 10px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

li:nth-child(even) {
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
    color: rgba(255, 166, 0, 0.7);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: slideIn 0.8s ease-out;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}